.jobTitle {
    margin-top: 0;
    font-size: 1.5em;
}

.jobDescription {
    margin: 1rem 0;
}

.jobRequirements,
.jobTags,
.jobCompany {
    margin-bottom: 1rem;
}

.jobRequirements h3,
.jobTags h3,
.jobCompany h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2em;
}

.jobRequirements ul,
.jobTags ul {
    list-style: none;
    padding: 0;
}

.jobRequirements li,
.jobTags .tag {
    background-color: var(--background-color);
    padding: 4px 8px;
    margin-bottom: 4px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
    color: var(--text-color);
}

.jobCompany p {
    margin: 4px 0;
}

.click {
    cursor: pointer;
}