body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #eee;
  --background-color-inverted: #181818;
  --text-color: #000000;
  --text-color-inverted: #ffffff;
  --navbar-background: #ffffff;
  --button-background: #007bff;
  --background-hover: #0056b3;
  --button-text: #ffffff;
  --border: #ccc;
}

[data-theme='dark'] {
  --background-color: #343a40;
  --background-color-inverted: #ffffff;
  --text-color: #ffffff;
  --text-color-inverted: #000000;
  --navbar-background: #181818;
  --button-text: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}